serviciowebLecturaWSDL/src/java/META-INF/ConversionSW.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SW/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SW/" name="ConversionSW">
<types>
<xsd:schema>
<xsd:import namespace="http://SW/" schemaLocation="http://localhost:8080/ProyectoWebSoap/ConversionSW?xsd=1"/>
</xsd:schema>
</types>
<message name="euroAdolar">
<part name="parameters" element="tns:euroAdolar"/>
</message>
<message name="euroAdolarResponse">
<part name="parameters" element="tns:euroAdolarResponse"/>
</message>
<message name="pitagoras">
<part name="parameters" element="tns:pitagoras"/>
</message>
<message name="pitagorasResponse">
<part name="parameters" element="tns:pitagorasResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="intensidad">
<part name="parameters" element="tns:intensidad"/>
</message>
<message name="intensidadResponse">
<part name="parameters" element="tns:intensidadResponse"/>
</message>
<message name="divicion">
<part name="parameters" element="tns:divicion"/>
</message>
<message name="divicionResponse">
<part name="parameters" element="tns:divicionResponse"/>
</message>
<message name="multiplicacion">
<part name="parameters" element="tns:multiplicacion"/>
</message>
<message name="multiplicacionResponse">
<part name="parameters" element="tns:multiplicacionResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="voltaje">
<part name="parameters" element="tns:voltaje"/>
</message>
<message name="voltajeResponse">
<part name="parameters" element="tns:voltajeResponse"/>
</message>
<message name="resta">
<part name="parameters" element="tns:resta"/>
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="validar">
<part name="parameters" element="tns:validar"/>
</message>
<message name="validarResponse">
<part name="parameters" element="tns:validarResponse"/>
</message>
<portType name="ConversionSW">
<operation name="euroAdolar">
<input wsam:Action="http://SW/ConversionSW/euroAdolarRequest" message="tns:euroAdolar"/>
<output wsam:Action="http://SW/ConversionSW/euroAdolarResponse" message="tns:euroAdolarResponse"/>
</operation>
<operation name="pitagoras">
<input wsam:Action="http://SW/ConversionSW/pitagorasRequest" message="tns:pitagoras"/>
<output wsam:Action="http://SW/ConversionSW/pitagorasResponse" message="tns:pitagorasResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://SW/ConversionSW/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://SW/ConversionSW/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="intensidad">
<input wsam:Action="http://SW/ConversionSW/intensidadRequest" message="tns:intensidad"/>
<output wsam:Action="http://SW/ConversionSW/intensidadResponse" message="tns:intensidadResponse"/>
</operation>
<operation name="divicion">
<input wsam:Action="http://SW/ConversionSW/divicionRequest" message="tns:divicion"/>
<output wsam:Action="http://SW/ConversionSW/divicionResponse" message="tns:divicionResponse"/>
</operation>
<operation name="multiplicacion">
<input wsam:Action="http://SW/ConversionSW/multiplicacionRequest" message="tns:multiplicacion"/>
<output wsam:Action="http://SW/ConversionSW/multiplicacionResponse" message="tns:multiplicacionResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://SW/ConversionSW/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://SW/ConversionSW/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="voltaje">
<input wsam:Action="http://SW/ConversionSW/voltajeRequest" message="tns:voltaje"/>
<output wsam:Action="http://SW/ConversionSW/voltajeResponse" message="tns:voltajeResponse"/>
</operation>
<operation name="resta">
<input wsam:Action="http://SW/ConversionSW/restaRequest" message="tns:resta"/>
<output wsam:Action="http://SW/ConversionSW/restaResponse" message="tns:restaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://SW/ConversionSW/helloRequest" message="tns:hello"/>
<output wsam:Action="http://SW/ConversionSW/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="validar">
<input wsam:Action="http://SW/ConversionSW/validarRequest" message="tns:validar"/>
<output wsam:Action="http://SW/ConversionSW/validarResponse" message="tns:validarResponse"/>
</operation>
</portType>
<binding name="ConversionSWPortBinding" type="tns:ConversionSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="euroAdolar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pitagoras">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="intensidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="voltaje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConversionSW">
<port name="ConversionSWPort" binding="tns:ConversionSWPortBinding">
<soap:address location="http://localhost:8080/ProyectoWebSoap/ConversionSW"/>
</port>
</service>
</definitions>